<section class="spaces">
  <h2 class="spaces__title">
    Volverse organizado se siente mejor con <span>open spaces</span>
  </h2>
  <div class="spaces__features">
    <img
      class="spaces__img"
      src="./assets/images/icon_1.png"
      alt="Lo que necesitas"
    />
    <h3 class="spaces__sub">Lo que necesitas</h3>
    <p class="spaces__desc">
      Una línea de productos diseñados para todos tus espacios
    </p>
  </div>
  <div class="spaces__features">
    <img
      class="spaces__img"
      src="./assets/images/icon_2.png"
      alt="Materias primas sustentables"
    />
    <h3 class="spaces__sub">Materias primas sustentables</h3>
    <p class="spaces__desc">
      Todos los productos son materias primas sustentables
    </p>
  </div>
  <div class="spaces__features">
    <img class="spaces__img" src="./assets/images/icon_3.png" alt="Guía" />
    <h3 class="spaces__sub">Guía</h3>
    <p class="spaces__desc">
      Soporte y asesoramiento para ayudarte con tu objetivo
    </p>
  </div>
</section>
