<header class="header" id="header">
  <nav class="container">
    <div class="log">
      <img
        class="log__logo"
        src="./assets/images/logo.png"
        alt="logo"
        title="Logo"
      />
    </div>
    <div class="hero">
      <h1 class="hero__title">Disfruta creando espacios</h1>
      <a class="hero__link" href="https://adalab.es/" target="_blank"
        >Comprar ahora</a
      >
    </div>
    <a class="header__hambu" href="https://adalab.es/" title="menu"
      ><i class="fas fa-bars"></i
    ></a>
    <ul class="header__menu">
      <li>
        <a
          class="header__menu--link"
          href="https://adalab.es/"
          title="Productos"
          target="_blank"
          >Productos</a
        >
      </li>
      <li>
        <a
          class="header__menu--link"
          href="https://adalab.es/"
          title="Colecciones"
          target="_blank"
          >Colecciones</a
        >
      </li>
      <li>
        <a
          class="header__menu--link"
          href="https://adalab.es/"
          title="Tienda"
          target="_blank"
          >Tienda</a
        >
      </li>
      <li>
        <a
          class="header__menu--link"
          href="https://adalab.es/"
          title="Inicio"
          target="_blank"
          >Inicio</a
        >
      </li>
    </ul>
  </nav>
</header>
