<main class="main">

    <section class="delivery">
      <img class="delivery-img" src="./assets/images/icon_4.png" />
      <h3 class="delivery-title">Envío gratis garantizado</h3>
      <p>Envío gratis en compras desde 100 &#8364</p>
      <a class="deli-buttom" href="#">Comprar ahora</a>
    </section>
    <section class="callsingle">
      <section class="call">
        <h3 class="call-title">Disfruta creando espacios</h3>
        <p class="call-desc">Una línea de productos diseñados para todos tus espacios</p>
        <a class="call-buttom" href="#">Comprar ahora</a>
      </section>
      <section class="single">
        <img class="single-img" src="./assets/images/creando-espacios.jpg">
      </section>
    </section>
  </main>