<main class="main">
    <section class="spaces">
      <h2 class="spaces-title">Volverse organizado se siente mejor con open spaces</h2>
      <div class="features">
        <img
          class="features-img"
          src="./assets/images/icon_1.png"
          alt="Lo que necesitas"
        />
        <h3 class="features-title">Lo que necesitas</h3>
        <p class="features-desc">
          Una línea de productos diseñados para todos tus espacios
        </p>
      </div>
      <div class="features">
        <img
          class="features-img"
          src="./assets/images/icon_2.png"
          alt="Materias primas sustentables"
        />
        <h3 class="features-title">Materias primas sustentables</h3>
        <p class="features-desc">
          Todos los productos son materias primas sustentables
        </p>
      </div>
      <div class="features">
        <img class="features-img" src="./assets/images/icon_3.png" alt="Guía" />
        <h3 class="features-title">Guía</h3>
        <p class="features-desc">
          Soporte y asesoramiento para ayudarte con tu objetivo
        </p>
      </div>
    </section>
    <section class="delivery">
      <img class="delivery-img" src="./assets/images/icon_4.png" />
      <h3 class="delivery-title">Envío gratis garantizado</h3>
      <p>Envío gratis en compras desde 100 &#8364</p>
      <a class="deli-buttom" href="#">Comprar ahora</a>
    </section>
    <section class="callsingle">
      <section class="call">
        <h3 class="call-title">Disfruta creando espacios</h3>
        <p class="call-desc">Una línea de productos diseñados para todos tus espacios</p>
        <a class="call-buttom" href="#">Comprar ahora</a>
      </section>
      <section class="single">
        <img class="single-img" src="./assets/images/creando-espacios.jpg">
      </section>
    </section>
  </main>