.spaces {
    display: grid;
    background-color: $light-grey;
    color: $color-green;
    grid-template-columns: 1fr;
    grid-template-rows: 90px 1fr 1fr 1fr;
    gap: 1.25rem;
    padding: 30px 0;
    height: 1108px;
    font-family: $font-family;
    @media all and (min-width: 900px) {
        grid-template-rows: repeat(3, 3fr);
        grid-template-columns: 2fr 1fr 2fr;
        padding-bottom: 0.5rem;
        justify-content: center;
        height: 532px;
    }
    @media all and (min-width: 1728px) {
        height: 611px;
    }

    &__title {
        text-align: center;
        margin-bottom: 2.3rem;
        margin-top: 2.3rem;
        font-size: 1.5rem;
        font-weight: 600;
        font-family: $font-family;
        line-height: 2rem;
        &--span {
            text-transform: uppercase;
        }
        &--span::before {
            content:'';
            display: block;
        }
        
        @media all and (min-width: 900px) {
            text-align: center;   
            grid-column: span 3; 
            font-size: 2rem;
            margin: 41px 200px 0px 200px;
            line-height: 4rem;
        }  
        
    }

    &__features {
        text-align: center;
        font-family: $font-family;
        margin-bottom: 1.25rem;
        @media all and (min-width: 900) {
            margin-bottom: 73px;
        }
        
    }
    &__img {
        padding-top: 2.25rem;
    }
    &__sub {
        font-size: 1.25rem;
        font-weight: 600;
        padding-bottom: 1.25rem;
        padding-top: 2.25rem;
    }
    &__desc {
        font-size: 1rem; 
        
    }
}