

.header {
    background-image: url("../images/header.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__hambu {
        position: fixed;
        color: $color-green; 
        width: 24px;
        left: 33px;
        top: 55px;
        @media all and (min-width: 900px) {
            left: 82px;
            top: 85px;
        }
        @media all and (min-width: 1728px) {
            display: none;
        }
    }
    &__menu {
        display: none;
        @media all and (min-width: 1728px) {
            display: flex;
            position: fixed;
            gap: 30px;
            padding-top: 76px;
            padding-left: 300px;
        }
        &--link {
            font-size: 1rem;
            color: $color-green;
            padding: 15px;
            text-decoration: none;
            font-family: $font-family;
        }
    }
    .log {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 19px;
        @media all and (min-width: 900px){
            padding-top: 39px;
        }
        &__logo {
            width: 13.3rem;
            height: 6rem;
        }
    }
    .hero {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        @media all and (min-width: 900px) {
            width: 440px;
            margin: 0 10vw;
            align-items: flex-start;
        }
        &__title {
            font-size: 2rem;
            color: $color-green;
            font-family: $font-family;
            font-weight: 600;
            padding-top: 25vh;
            text-align: center;
            padding-bottom: 60px;
            @media all and (min-width: 900px) {
                text-align: left;
                font-size: 3rem;
            }
        }
        &__link {
            text-decoration: none;
            font-weight: 600;
            font-size: 1.3rem;
            color: $color-white;
            text-align: center;
            align-items: center;
            padding: 16px 24px 0 24px;
            background-color: $color-green;
            width: 170px;
            height: 45px;
        }
        &__link:hover {
            background-color: $color-orange;
        }
    }
}
