/*@import 'core/variables';
@import 'layout/page';
@import 'layout/header';
@import 'layout/footer';
@import 'pages/index';
*/
@import 'core/reset';

:root {
    --color-white: #ffffff;
    --color-green: #0c474b;
    --light-green: #b6c8c9;
    --light-grey: #f0ebe5;
    --color-orange: #ff975a;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}


header {
    display: flex;
    /*position: fixed;*/
    top: 0;
    width: 100%;
 
   
}
.menu .fas {
   position: fixed;
    top: 0;
    width: 24px;
    height: 24px;
    color: var(--color-green);
    margin: 36px 43px 98px 33px;

    
}
.nav-link {
    display: none;/*para que desaparezca*/
}
.menu {
    width: 213px;
    height: 96px; 
}
.logo {
    width: 213px;
    height: 96px;
    position: absolute;
    top: 15px;
	left: 15px;
   

    
}
.hero {
    height: 100vh;
    width: 100%;
    text-align: center;
    position: relative;
}
.bg-hero {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;

    background-size: cover;
    background-repeat: no-repeat;
    
}
.hero-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: var(--color-green);
}
.hero-buttom {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);
    padding: 12px 24px 12px 24px;
    background-color: var(--color-green);
    width: 176px;
    gap: 10px;
}
.hero-buttom:hover {
    background-color: var(--color-orange);
}


/* sección spaces */
.spaces {
    display: grid;
    grid-template-columns: 1fr;
    
}

/* sección delivery */

.delivery {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--color-orange);
    width: 100vw;
    height: 340px;
    line-height: 3em;
    color: var(--color-white);
}
.delivery-img {
    width: 104px;
    height: 64px;
    flex-grow: 0;
    margin: 1.5px 0 10.5px 4px;
    padding: 8px 0 8.5px; 
    margin-left: auto;
    margin-right: auto;
}
.delivery-title {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 600;
}
.deli-buttom {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-white);
}
/* sección call */


.call {
    display: flex;
    flex-direction: column;  
    text-align: center;
    justify-content: center;
    background-color: var(--light-grey);
    width: 100vw;
    height: 340px;
    line-height: 3em;
}
.call-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-green);
}
.call-desc {
    font-size: 14px;
    color: var(--color-green);
}
.call-buttom {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);
    padding: 12px 24px 12px 24px;
    background-color: var(--color-green);
    width: 176px;
    
    gap: 10px;
    align-self: center;
}
.call-buttom:hover {
    background-color: var(--color-orange);
}


/* sección single */

.single {
    display: flex;
    flex-direction: column;
}

/* sección footer */

.footer {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--color-green);
    width: 100vw;
    height: 545px;
    line-height: 1.5;
    
   
    
}
.footer-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--light-green);
    line-height: 2;
    padding: 15px 0 5px 0;

}
.link-footer {
    text-decoration: none;
    color: var(--light-green);
    font-size: 14px;
    
   
}


.contact__title {
    font-size: 20px;
    font-weight: 600;
    color: var(--light-green);
    line-height: 2;
    padding: 15px 0 5px 0;
}
.contact__mail {
    color: var(--light-green);
    font-size: 14px;
}
.contact__subt {
    color: var(--light-green);
    font-size: 14px; 
}
.contact__icons .fa-brands {
    color: var(--light-green);
    width: 24px;
    height: 26px;
    margin: 0 11px 0 0;
}
.arrow {
    overflow: hidden;
}
.fa-solid {
    height: 24px;
    height: 24px;
    color: red;
    float: right;
    
}


/* mediaqueries */

@media screen and (min-width:900px) {
    .nav {
        flex-direction: row;
    }
    .nav-link {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 30px 30px 30px 30px;
    }
    .menu .fas {
        display: none; /*para que desaparezca*/
    }
    .spaces {
        grid-template-columns: 1fr 1fr;
    }
    .footer { 
        flex-direction: row;
        justify-content: space-around;
    }
}

@media screen and (min-width:728px) {
    .callsingle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .call {
        width: 49vw;
        height: 600px;  
    
    }
    .single {
        width: 50vw;
        height: 600px; 
    
    }
}

 