
@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/footer';




/* sección spaces */
.spaces {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: var(--light-grey);

    
}
.spaces-title {
    font-size: 24px;
    color: var(--color-green);
 

    
}
.features {
  
}
.features-img {
    
}
/* sección delivery */

.delivery {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--color-orange);
    width: 100vw;
    height: 340px;
    line-height: 3em;
    color: var(--color-white);
}
.delivery-img {
    width: 104px;
    height: 64px;
    flex-grow: 0;
    margin: 1.5px 0 10.5px 4px;
    padding: 8px 0 8.5px; 
    margin-left: auto;
    margin-right: auto;
}
.delivery-title {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: 600;
}
.deli-buttom {
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    color: var(--color-white);
}
/* sección call */


.call {
    display: flex;
    flex-direction: column;  
    text-align: center;
    justify-content: center;
    background-color: var(--light-grey);
    width: 100vw;
    height: 340px;
    line-height: 3em;
}
.call-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--color-green);
}
.call-desc {
    font-size: 14px;
    color: var(--color-green);
}
.call-buttom {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: var(--color-white);
    padding: 12px 24px 12px 24px;
    background-color: var(--color-green);
    width: 176px;
    
    gap: 10px;
    align-self: center;
}
.call-buttom:hover {
    background-color: var(--color-orange);
}


/* sección single */

.single {
    display: flex;
    flex-direction: column;
}

/* mediaqueries */

@media screen and (min-width:900px) {
    .nav {
        flex-direction: row;
        position: fixed;
        top: 0;
    }
    .nav-link {
        display: inline-block;
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 30px 30px 30px 30px;
        text-decoration: none;
        color: var(--color-green);
    
        
    }
    .menu .fas {
        display: none; /*para que desaparezca*/
    }
    .spaces {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-start: 1;
        grid-column-end: 4;
        gap: 10px;
    }
    .spaces-title {
        grid-column: 1 / 4;
    }
    
}

@media screen and (min-width:1728px) {
    .callsingle {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .call {
        width: 49vw;
        height: 600px;  
    
    }
    .single {
        width: 50vw;
        height: 600px; 
    
    }
}

 